<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Je Suis Éclectique | A website about discovering and immersing yourself in your creative endeavors.</title>
        <meta content="Uncommon mélange of web developer, watercolour illustrator and writer.">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css" >
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/foundation.css" >
		    <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC|Raleway' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" >

        
    </head>
    <body>

<header>
	
 <div class="row">
    <div class="medium-12 columns">
      
      {% include nav.html %}

      <h1 class="title"> <a href="http://jesuiseclectique.com">{{ site.name }}</a>  <br>
      <small class="subtitre"> art, thought, time.</small></h1>
      
    </div>
  </div>

</header>