<div class="legende"> 
			
			<h2 class="small">Eclecticism:</h2>
			<span class=definition> Selecting what appears to be best in various doctrines, methods, or styles. </span> 
			<p>Create authentically, use everything you've ever learned, be prolific and ultimately build a creative practice just for the joy of it.</p>

			<!--After spending nine years looking for a creative outlet I found it. It was in front of my eyes, but I ignored it again and again. <br>

			Why did I pass it by so many times? <br> 


			I'm currently writing "The Someday Creative" a book about Talent, Creativity and Artistry, where they meet and how their definitions prevent us from immersing ourselves in what we really want to create. <br> -->


			
</div>