body {

	font-family:'Raleway', sans-serif;
	background-color: #fdf7eb;
	line-height: 1.3em;

}


/* Main titles */
.title {
	font-family:'Playfair Display SC', serif;
	color: #60625f;
	

}

.subtitre {
	color: #f5ac94;
	

}

h1, h2, h3, h4, h5, h6 {

	font-family: 'Playfair Display SC', serif;
	color: #60625f;
}


/* Navigation */

div.navigation
{
	float: right;
	margin-top: 35px;

}



ul.nav li {
	display: inline;
	margin-right: 10px;

}


/* Post list*/

.posts ul {

	list-style: none;
	

}

/* Links */

a {
  color: #536eb8;

}
  
a:hover, 
a:focus {
    color: #7387bc; 
}


/* aside */

ul.side-nav {
list-style: none;
margin-left: 0;
font-family: futura;
}

/* Footer */

ul.foot {

	list-style: none;
}

ul.foot li {

	display: inline;
	margin-right: 10px;

}

/* front page images */

.mainimg {
	height: 520px;
	background-image: url(../img/JSE.jpg);
	background-repeat: no-repeat;
	background-position: top ;
 	 -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	border: 3px dotted #e5e5e5;
	box-shadow: inset 0 -1px 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5, 0 1px 0 0 #e5e5e5, 0 -1px 0 0 #e5e5e5;
	margin-bottom: 1px;
}


.legende {

	position: absolute;
	bottom: 50px;
	left:50px;
	font-family: 'Playfair' Serif;
	font-size: 1.3em;
	line-height: 1.4em;
	color: #fff;
	background-color: rgba(245, 172, 148, 0.8);
	padding: 5px;


}
.illustration {

	padding: 5px;
	border: 1px solid white;
	background-color: #f5ac94;
}

