body {

	font-family:'Raleway', sans-serif;
	background-color: #fdf7eb;

}


/* Main titles */
.title {
	font-family:'Playfair Display SC', serif;
	color: #60625f;
	

}

.subtitre {
	color: #f5ac94;
	

}

h1, h2, h3, h4, h5, h6 {

	font-family: 'Playfair Display SC', serif;
}


/* Navigation */

div.navigation
{
	float: right;
	margin-top: 35px;

}



ul.nav li {
	display: inline;
	margin-right: 10px;

}


/* Post list*/

.posts ul {

	list-style: none;
	

}

/* Links */

a {
  color: #536eb8;

}
  
a:hover, 
a:focus {
    color: #7387bc; 
}


/* aside */

ul.side-nav {
list-style: none;
margin-left: 0;
font-family: futura;
}

/* Footer */

ul.foot {

	list-style: none;
}

ul.foot li {

	display: inline;
	margin-right: 10px;

}