{% include head.html %}

    
<div class="row">
 
     
 <div class="large-9 columns" role="content">
 
 

      <article class="posts">

          {{ content }}

       </article>   

 

 
      
    </div>
 
     
 
    <aside class="large-3 columns">

      <h4>Eclecticism:</h4>
      <p>Electing what appears to be best in various doctrines, methods, or styles</p>
   

      <div class="panel">
        <h4>Subscribe to the blog</h4>
        <p><a href="http://feeds.feedburner.com/JeSuisEclectique" title="Subscribe to my feed" rel="alternate" type="application/rss+xml"><img src="//feedburner.google.com/fb/images/pub/feed-icon32x32.png" alt="" style="border:0"/></a><br>
          <a href="http://feeds.feedburner.com/JeSuisEclectique" title="Subscribe to my feed" rel="alternate" type="application/rss+xml">Subscribe in a reader</a></p>

      </div>
      <div class="panel">
        <h4>The Someday Creative Book</h4>
        <img class="book-cover" src="{{ site.baseurl }}/assets/img/someday-creative-book2.png" alt="Someday Creative"> <br>

        
        {% include mailchimp.html %}
      </div>
 
      <!--<div class="panel">
        <h5>My illustrations</h5>
        <img src="{{ site.baseurl }}/assets/img/illustration-1.jpg" alt="Illustration 1 inspired from Vogue 1945">
        <p>Tiny watercolor rendering of a Vogue cover from 1945</p>
        <!--<a href="#">Read More →</a>-->
      </div> 
 
    </aside>
 
     
  </div>


{% include foot.html %}