{% include head.html %}

    
<div class="row">
 
     
 <div class="large-9 columns" role="content">
 
 

      <article class="posts">

          {{ content }}

       </article>   

 
  <hr/>
 
      
    </div>
 
     
 
    <aside class="large-3 columns">

      <h5>Eclecticism</h5>
      <p>Eclecticism is a conceptual approach that does not stick to a single paradigm or set of assumptions, but instead draws upon multiple theories or styles to gain a more varied or balanced insight into something</p>
    <!--
      <h5>Categories</h5>
      <ul class="side-nav">
        <li><a href="#">Sketchbook</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">Inner Debates</a></li>
        <li><a href="#">Favorite stuff</a></li>
        <li><a href="#">Reading</a></li>
      </ul>
      -->
 
      <div class="panel">
        <h5>My illustrations</h5>
        <img src="{{ site.baseurl }}/assets/img/illustration-1.jpg" alt="Illustration 1 inspired from Vogue 1945">
        <p>Tiny watercolor rendering of a Vogue cover from 1945</p>
        <!--<a href="#">Read More →</a>-->
      </div>
 
    </aside>
 
     
  </div>


{% include foot.html %}