---

---

{% include head.html %}

<div class="row">
	
	<div class="small-12 columns large-12 columns mainimg">
			
			<div class="legende">
			I am an uncommon mélange of web designer, watercolour illustrator and writer.
			You can my collectibles in <a href="http://fantastica.tumblr.com">Fantástica</a>, my experiments in watercolouring in <a href="http://miraenmiburbuja.tumblr.com">Mira en mi burbuja</a> (Look inside my bubble). <br>
			I'm currently writing a book about the crossroads between Talent, Creativity and Artistry, which as you might guess, pulls from an eclectic source of references. 
			I tweet at <a href="http://twitter.com/bitcolorine"> @bitcolorine</a>
			</div>



	</div>


</div>

<div class="row">
	
	<div class="small-12 large-12 columns">
		
	
<h3>MY UPCOMING BOOK</h3>
		
		Do you feel you've postponed your creative force?
		Are you worried you're not talented, creative or artistic?
		Is age a factor when begining a creative endeavor?

		<!-- Begin MailChimp Signup Form -->
			<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
			<style type="text/css">
				#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
				/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
				   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
			</style>
			<div id="mc_embed_signup">
			<form action="//variableskies.us2.list-manage.com/subscribe/post?u=10ed67f103d7d64406932a3cd&amp;id=680cb8ede1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<label for="mce-EMAIL">The Someday Creative Book Update</label>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
			    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;"><input type="text" name="b_10ed67f103d7d64406932a3cd_680cb8ede1" tabindex="-1" value=""></div>
			    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			</form>
			</div>

<!--End mc_embed_signup-->


	

</div>

<!--<div class="row">
	
	<div class="small-3 columns ">

 	<img src="{{ site.baseurl }}/assets/img/illustration-1.jpg" class="illustration" alt="Illustration 1 inspired from Vogue 1945">


	</div>
  
  	<div class="small-9 columns">
  		{{ content }}


  	</div>

	




</div> -->

{% include foot.html %}