---
Layout: default
---

{% include head.html %}

<div class="row">
 
     
 	<div class="medium-9 columns" role="content">


  
	  <header class="post-header">
	    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}  {% if page.categories %} • {{ page.categories }} {% endif %}</p>
	  </header>
  
		  <!-- <h2 class="title">{{ page.title }}</h2>
		<p class="meta">{{ page.date | date_to_string }}</p> -->
		<em>All links are listed at the bottom of the page, to help with focus during reading.</em>
	  <article class="post-content">
	  {{ content }}

	  {{ post.category}}
	  </article>



	</div>

	<div class="medium-3 columns">

		<h5>This blog does not have comments but:</h5>

		<a href="https://twitter.com/intent/tweet?screen_name=suis_eclectique"><img class="twitter" src="{{ site.baseurl }}/assets/img/twitter.png" alt="twitter"></a> <br>

		Give me a shout via Twitter 



	{% include mailchimp.html %}
		
<!--<ul >
{% for category in site.categories %}
    <li>{{ category[0] }}</li>
{% endfor %}
</ul> -->


	</div>



</div>
{% include foot.html %}